# Set up Vim-style tab completion
TAB: menu-complete
set show-all-if-ambiguous on
$include /etc/inputrc
set mark-symlinked-directories on
# Use GNU ls colors when tab-completing files
set colored-stats on
# Edit with Vi keybindings
set editing-mode vi
set keymap vi
